<div class="row">
    <h2 class="subheader">SOLEDE TOURS - At our client’s disposal!</h2>
    <hr/>
    <div id="formContatti" class="wufooNew large-6 medium-6 columns">
        <p class="header">
            <span class="big">Fill out this form and get in touch with us</span><br />
            <span class="medium">We will respond you within 12 hours</span>
        </p>

        <%= partial "wufooForm" %>

    </div>
    <div class="small-12 large-6 medium-6 columns">
                <ul class="big">
                    <p><i class="fa fa-cubes"></i> Tailor­made itineraries</p>
                    <p><i class="fa fa-headphones"></i> Flexibility and listening skills</p>
                    <p><i class="fa fa-user"></i> Fast and prompt replies</p>
                    <p><i class="fa fa-money"></i> Best price guaranteed</p>
                    <p><i class="fa fa-lightbulb-o"></i> Many ideas to make your journey unforgettable</p>
                </ul>
            <div class="panel">
                <h5><i>Our services</i></h5>
                <hr />
                <ul>
                    <li>Airline Ticketing services</li>
                    <li>Rail Ticketing services</li>
                    <li>Bus Ticketing services</li>
                    <li>Cruise services</li>
                    <li>Hotel Booking services</li>
                    <li>Services for Car & Coach Rentals</li>
                </ul>
            </div>
    </div>
</div>