<div class="row">
    <div class="small-12 columns">
        <a href="#formContatti" class="ctaButton small expand round"><%= siteData ['KeyValuePairs']['call-to-action-button']['value'].as_text%></a>
    </div>
</div>