<div class="banner">
    <div class="row">

        <a href="#formContatti">
            <div class="small-12 columns">
                <div class="little">Want to visit Italy?</div>
                <%= partial("callToAction") %>
            </div>
        </a>

    </div>
</div>
<hr>