<div class="row margin">
    <div class="large-12 columns">
        <script type="text/javascript" src="https://solede.rezdy.com/pluginJs"></script>
        <iframe seamless="" frameborder="0" width="100%" height="1000px" class="rezdy" src="https://solede.rezdy.com/catalog/31687/milan-tours?iframe=true"></iframe>
    </div>
</div>