---
headCode: >
conversionCode: >
                    <!-- Google Code for Contatto Conversion Page -->
                    <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 977713311;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "PzgrCOnxhhIQn_Ga0gM";
                    var google_remarketing_only = false;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977713311/?label=PzgrCOnxhhIQn_Ga0gM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>
---

<%
    site = prismic.get_by_tags ('site')
    siteData = prismic.getBlockData (site.first)
    pageData = siteData['blocks']['grazie']
%>

<!-- End Header and Nav -->
<div class="row margin">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit data-options="
                                                        slide_number:false;
                                                        navigation_arrows:false;
                                                        bullets:false;
                                                        timer:false;
                                                        caption_class:my-orbit-caption">
        <% pageData ['images'].each do |i, image| %>
          <li>
            <%= tag :img, :src => image["url"], :title => image["caption"] %>
            <div class="my-orbit-caption">
                    <h1 class="white"><%= pageData ['title'] %></h1>
                    <h3 class="white"><%= pageData ['abstract'] %></h3>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>